# Dependencies
node_modules/
.pnp
.pnp.js

# Monorepo & Build Cache
.turbo/
dist/
build/
out/

# Testing
coverage/

# Next.js
.next/

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# OS & Logs
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
